{{ 'product-card.css'|asset_url | stylesheet_tag }}

<div class="product-card" >
    <a href="{{ product.url }}" class="{% if product.images.size > 1 %} has-secondary{% endif %}">
        {% if product.featured_image %}
            <div class="product-img-div">
                <img class="main-img product-img" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
                {% if product.images.size > 1 %}
                    <img class="secondary product-img" src="{{ product.images.last | img_url: 'medium' }}" alt="{{ product.images.last.alt | escape }}">
                {% endif %}
            </div>           
        {% else %}
            {{ 'product-1' | placeholder_svg_tag}}
        {% endif %}
    </a>   
    <div class="product-description">
       {% if section.settings.vendor_name %}
        <span ">{{ product.vendor }}</span>
       {% endif %}
        <a href="{{ product.url }}" >{{ product.title }}</a>
        <p>{{ product.price | money }}</p>
    </div>   
</div>