<div class="product-card">
    <div class="product-img-div">
        <a href="{{ product.url }}">
            {% if product.featured_image %}
                <img class="main-img product-img" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
                {% if product.images.size > 1 %}
                    <img class="secondary product-img" src="{{ product.images.last | img_url: 'medium' }}" alt="{{ product.images.last.alt | escape }}">
                {% endif %}
            {% else %}
                {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
        </a> 
    </div> 
    <div class="product-description-container">
        {% if section.settings.vendor_name %}
            <span>{{ product.vendor }}</span>
        {% endif %}
        <div class="product-description">
            <a href="{{ product.url }}">{{ product.title | truncate: 100 }}</a>
            <p>{{ product.price | money }}</p>
        </div>
        {% if product.description %}
            <p class="product-short-desc">{{ product.description | truncate: 100  | escape }}</p>
        {% endif %}
        <form method="post" action="/cart/add" id= 'product-form', novalidate= 'novalidate'>
               <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <button type="submit" name="add" class="button"
                {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                {% endif %}
            >
                {% if product.selected_or_first_available_variant.available == false %}
                    Sold out
                {% else %}
                    Add to cart
                {% endif %}
            </button>
        </form>
    </div>   
</div>
